

/* ------------------------
Type selectors
--------------------------- */

html {
    background: url("background-picture.jpg ") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}
fieldset {
    padding: 25px;
    border: none;
    padding-bottom: 5px;
}

fieldset legend {
    font-size: 1.5rem; /* 24 / 16 px */
    font-weight: 500;
    
}

input[type="submit"] {
    
    font-size: 1.2rem;
    
    background: #7b2d26;
    color: #fff;

    padding: 15px;
    margin-left: 25px;
    border: none;
    transition: border-radius 0.3s ease-out,
                background-color 0.3s ease-out;
}

input[type="submit"]:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #c76259;
}

textarea {
    font-family: 'Lato', sans-serif;

    display: block;
    background: #fdfdfd;
    border: none;
    width: 100%;
    resize: vertical;
    height: 150px;
}

/* ------------------------
 ID selectors
 -------------------------- */

#gmaps {
    margin-top: 1px;
    height: 15px;
}

#email {
    font-style: italic;
}

/* ------------------------
Class selectors
--------------------------- */
.nav {
    margin-top: 50px;
    height: 40px;
    line-height: 36px;
    background:rgba(50, 50, 50, 0.8);
}
.nav ul {
    list-style-type: none;  
    margin: 0;
    padding: 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nav li {
    display: inline-block;
    height: 38px;
    padding: 0 20px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav li:hover {
    border-bottom: 2px solid #fff;
    margin-bottom: -2px;
}

.nav-left,
.nav-right {
    display: inline-block;
}

.active-nav {
    border-bottom:2px solid #7b2d26;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-start {
    justify-content: flex-start;
}

.flex-space {
    justify-content: space-between;
}

.box {
    width: 40%;
    background-color: rgba(240, 240, 240, 0.95); /* HEX: #F0F0F0 */
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 25px;
    /*
    animation-name: load-desktop;
    animation-duration: 1.5s;
    */
}

.h1-content {
    margin: 0px;
}

.subheading {
    margin-top: 20px;
    margin-bottom: 0px;
}

.text-muted {
    margin: 0px;
    font-size: 0.875rem;
    font-style: italic;
    color: #4e4e4e;
}

.subtext {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    font-size: 0.875rem;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.subtext + .subtext {
    margin-bottom: 5px;
}

.post {
    margin: 25px 0 40px;
}

.post h3, p {
    margin: 0;
}

.post-content {
    white-space: pre-wrap;
}

.yhteystiedot p {
    margin-bottom: 15px;
}

.input-box {
    margin-bottom: 25px;
}

.input-box label {
    margin-bottom: 5px;
}
.input-box input {
    background: transparent;
    border:none;
    border-bottom: 1px dashed black;
    height: 25px;
    width: 100%;
}

.input-box input:focus {
    border-bottom: 1px solid #007fff;
}

.input-inline {
    display: inline-block;
}

.input-inline:first-of-type {
    width: 45%;
    padding-right: 5%;
}
.input-inline + .input-inline {
    width: 49%;
}

/* Creating custom checkbox */

.input-box input[type=checkbox] {
    display:none; /* Hide the original unstylizable checkbox */
}

.checkbox {
    display:inline-block;
    height: 100%;
}

.checkbox label {
    position:relative;
    display: inline-block;
    padding-left: 25px;
}

.checkbox label:hover {
    cursor: pointer;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

/* Creating the checkbox */
.checkbox label::before {
    box-shadow: inset 0px 0px 2px rgba(5, 5, 5, 0.5),
                0px 0px 1px;
    border-radius: 1px;
    height: 16px;
    width: 16px;
    top: 1px;
    left: 0px;

    border: 1px solid;
}

.checkbox input[type="checkbox"] + label::after{
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/* Creating the tick mark */

.checkbox label::after {
    height: 5px;
    width: 9px;
    left: 4px;
    top: 5px;

    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);
}

.checkbox input[type="checkbox"] + label:hover::after{
    opacity: 0.3;
}

.error {
    color: red;
    max-width: 100%;
    font-style: italic;
    font-size: 0.875rem;
}

.success {
    background-color: aquamarine;
}

.inline-form {
    display: inline-block;
}

.btn {
    margin: 20px 50px 10px 0 !important;
    padding: 10px !important;
    font-size: 1rem !important;
}

.btn-modify {
    background-color: #007fff !important;
}

.btn-modify:hover {
    background-color: #0065ca !important;
}

.btn-danger {
    background-color: #7b2d26 !important;
}

.btn-danger:hover {
    background-color: #b42b1e !important;
}


/* ------------------------
Animations and transitions
--------------------------- */

@keyframes load-desktop {
    0% {margin-left: -45%;}
    100% {margin-left: 20px;}
}

@keyframes load-mobile {
    0% {margin-left: -250%;}
    100% {margin-left: 5%;}
}

/* ------------------------
Media queries
--------------------------- */

/* Small and Medium screens */
@media only screen and (max-width: 950px) {

    .flex-container {
        justify-content: center;
    }
    .box {
        width: 75%;
        margin: 20px 5%;
        /*
        animation: load-mobile;
        animation-duration: 1.5s;
        */
    }

    .nav ul {
        justify-content: space-around;
        
    }

}

@media only screen and (max-width: 465px){
    
    .input-box label {
        display: block;
        margin-bottom: 5px;
        max-width: 90%;
    }
    
    .input-box input {
        display: block;
        float:none;
        max-width: 100%;
    }
    
    .nav {
        margin-top: 0px;
        
    }
    .box {
        width: 75%;
    }

    .input-inline {
        display: inline-block;
        width: 100% !important;
    }
}