

/* ------------------------
Type selectors
--------------------------- */

html {
    background: url("background-picture.jpg ") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/* ------------------------
 ID selectors
 -------------------------- */

#gmaps {
    margin-top: 1px;
    height: 15px;
}

/* ------------------------
Class selectors
--------------------------- */
.nav {
    margin-top: 50px;
    height: 40px;
    line-height: 36px;
    background-color: rgba(50, 50, 50, 0.3)
}
.nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;  
    margin: 0;
    padding: 0 0;
}

.nav li {
    display: inline-block;
    height: 38px;
    padding: 0 20px;
}
.nav a {
    text-decoration: none;
    color: white;
}

.nav li:hover {
    color: firebrick;
    border-bottom: 2px solid #fff;
    margin-bottom: -2px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.box {
    max-width: 40%;
    background-color: rgba(240, 240, 240, 0.95);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 25px;
    animation-name: load-desktop;
    animation-duration: 1.5s;
}

.h1-content {
    margin: 0px;
}

.subtext {
    margin-bottom: 5px;
    padding: 0;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.post {
    margin: 25px 0 40px;
}

.post h3, p {
    margin: 0;
}

/* ------------------------
Animations and transitions
--------------------------- */

@keyframes load-desktop {
    0% {margin-left: -45%;}
    100% {margin-left: 20px;}
}

@keyframes load-mobile {
    0% {margin-left: -250%;}
    100% {margin-left: 5%;}
}

/* ------------------------
Media queries
--------------------------- */

/* Small and Medium screens */
@media only screen and (max-width: 850px) {

    .flex-container {
        justify-content: center;
    }
    .box {
        max-width: 75%;
        margin: 20px 5%;
        animation: load-mobile;
        animation-duration: 1.5s;
    }

    .nav ul {
        justify-content: space-around;
    }

}