{% extends "layout.html" %}

{% block content %}
    <!-- Start of Introduction -->
    <div class="flex-container">
        <div class="box">
            <h1 class="h1-content">
            AsOy Hakulinpuisto
            </h1>
            <a class="subtext" href="https://goo.gl/maps/t1fybqJoUtZ5CSkx7"><img src="{{ url_for('static', filename='img/gmaps_ico.png') }}" alt="Google Maps icon" id="gmaps">Hakulintie 43, 08500 Lohja</a>
            <div class="post">
                <p>
                    Tähän tulee taloyhtiön lyhyt esittely. Mitä tietoja halutaan kertoa? Rakennusvuosi, asuntojen määrä jne?
                </p>
            </div>
        </div>
    </div>
    <!-- End of Introduction -->

    <!-- Start of Tiedotteet -->
    <div class="flex-container">
        <div class="box">
                <h1 class="h1-content">
                        Tiedotteet
                </h1>
            {% for tiedote in tiedotteet %}
            <div class="post">
                <h3>{{ tiedote.title }} </h3>
                <p class="subtext">Julkaistu: {{ tiedote.date_posted.strftime('%d %m %Y').replace(' ', '.') }} - Tekijä {{ tiedote.author.first_name }} {{ tiedote.author.last_name }}  </p>
                <p class="subtext"></p>
                <p>
                    {{ tiedote.content }}
                </p>
            </div> 
            {% endfor %} 
    </div>
    <!-- End of Tiedotteet -->
{% endblock %}