{% extends "layout.html" %}

{% block content %}

<div class="flex-container">
    <div class="box">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>
                    Kirjaudu sisään
                </legend>
                <div class="input-box">
                    {{ form.email.label }}
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error">
                            {% for error in form.email.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="input-box">
                    {{ form.password.label }}
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="error">
                            {% for error in form.password.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="input-box checkbox">
                    
                    {{ form.remember }}
                    <!-- Custom checkbox made with CSS -->
                    {{ form.remember.label }}
                    <!-- Original checkbox hidden with CSS -->
                    
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
        <div>
        </div>
    </div>
</div>

{% endblock %}