<!DOCTYPE html>
<html>
    <head>
        <meta lang="en-GB">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        
        {% if title %}
            <title>Hakulinpuisto - {{ title }}</title>    
        {% else %}
            <title>Hakulinpuisto</title>
        {% endif %}
    </head>
    <body>
        <header>
            <p class="nav-text">AsOy Hakulinpuisto</p>
            <input type="checkbox" class="nav-toggle" id="nav-toggle">
            <nav class="nav2">
                <ul class="">
                    <div class="">
                        <li class="{% if active=='index' %}active-nav{% endif %}">
                            <a href="{{ url_for('index') }}">Etusivu</a>
                        </li>
                        <li class="{% if active=='vuosikello' %}active-nav{% endif %}">
                            <a href="{{ url_for('vuosikello') }}">Vuosikello</a>
                        </li>
                        <li class="{% if active=='yhteystiedot' %}active-nav{% endif %}">
                            <a href="{{ url_for('yhteystiedot') }}">Yhteystiedot</a>
                        </li>
                    </div>
                    <div class="">
                        {% if current_user.is_authenticated %}
                        <li class=" {% if active=='uusi_tiedote' %}active-nav{% endif %}">
                            <a href="{{ url_for('uusi_tiedote') }}">Luo tiedote</a>
                        </li>
                        <li class=" {% if active=='tili' %}active-nav{% endif %}">
                            <a href="{{ url_for('tili') }}">Tili</a>
                        </li>
                        <li >
                            <a href="{{ url_for('kirjaudu_ulos') }}">Kirjaudu ulos</a>
                        </li>
                        {% else %}
                        <li class=" {% if active=='kirjaudu' %}active-nav{% endif %}">
                            <a href="{{ url_for('kirjaudu') }}">Kirjaudu</a>
                        </li>
                        <li class=" {% if active=='rekisteroidy' %}active-nav{% endif %}">
                            <a href="{{ url_for('rekisteroidy') }}">Rekisteröidy</a>
                        </li>
                        {% endif %}
                    </div>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="success">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="body-content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>