{% extends "layout.html" %}

{% block content %}
    <!-- Start of Tiedotteet -->
    <div class="flex-container">
    <div class="box">
        <div class="post">
            <h3>{{ tiedote.title }} </h3>
            <p class="subtext">Julkaistu: {{ tiedote.date_posted.strftime('%d %m %Y').replace(' ', '.') }} - Tekijä {{ tiedote.author.first_name }} {{ tiedote.author.last_name }}  </p>
            <p class="post-content">{{ tiedote.content }}</p>
            {% if tiedote.author == current_user %}
            <form class="inline-form" action="{{ url_for('muokkaa_tiedotetta', tiedote_id = tiedote.id) }}" method="GET">
                <input type="submit" value="Muokkaa" class="btn btn-modify">    
            </form>
            <input type="submit" class="btn btn-danger" value="Poista">
            {% endif %}
        </div> 
    </div>
        
        <div class="modal">
            <div class="modal-content">
                <span class="close-button">X</span>
                <form class="" action="{{ url_for('poista_tiedote', tiedote_id=tiedote.id) }}" method="POST">
                    <h4>Haluatko varmasti poistaa tiedotteen?</h4>
                    <p>Tätä muutosta ei voi peruuttaa</p>
                    <input type="submit" value="Poista" class="btn btn-danger">    
                </form>
            </div>
        </div>
    <!-- End of Tiedotteet -->
{% endblock %}