{% extends "layout.html" %}

{% block content %}

<div class="flex-container">
    <div class="box">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>
                    Rekisteröidy käyttäjäksi
                </legend>
                <div class="input-box">
                    {{ form.first_name.label }}
                    {{ form.first_name(placeholder="Syötä etunimesi") }}
                    {% if form.first_name.errors %}
                        <div class="error">
                            {% for error in form.first_name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
                <div class="input-box">
                    {{ form.last_name.label }}
                    {{ form.last_name(placeholder="Syötä sukunimesi") }}
                    {% if form.last_name.errors %}
                        <div class="error">
                            {% for error in form.last_name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
                <div class="input-box">
                    {{ form.house.label }}
                    {{ form.house(placeholder="Asuntosi numero") }}
                    {% if form.house.errors %}
                        <div class="error">
                            {% for error in form.house.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>

                <div class="input-box">
                    {{ form.email.label }}
                    {{ form.email(placeholder="Syötä sähköpostiosoitteesi") }}
                    {% if form.email.errors %}
                        <div class="error">
                            {% for error in form.email.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
                <div class="input-box">
                    {{ form.password.label }}
                    {{ form.password(placeholder="Syötä vähintään 8 merkkiä pitkä salasana") }}
                        {% if form.password.errors %}
                        <div class="error">
                            {% for error in form.password.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
                <div class="input-box">
                    {{ form.confirm_pw.label }}
                    {{ form.confirm_pw(placeholder="Vahvista salasana") }}
                    {% if form.confirm_pw.errors %}
                        <div class="error">
                            {% for error in form.confirm_pw.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
        <div>
        </div>
    </div>
</div>
{% endblock %}