{% extends "layout.html" %}

{% block content %}
<div class="flex-container flex-start">
    <div class="box">
        <h1 class="h1-content">
            Tilini
        </h1>
        <div>
            <h3 class="subheading">
                {{ current_user.first_name }} {{ current_user.last_name }}
            </h3>
            <p class="text-muted">
                {{ current_user.email }}
            </p>
        </div>
        <div>
            <h5 class="subheading">
                Asunto
            </h5>
            <p>
                {{ current_user.house }}
            </p>
        </div>
    </div>
</div>
<div class="flex-container flex-start">
    <div class="box">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>
                    Päivitä tilisi tietoja
                </legend>
                <div class="input-box">
                    {{ form.first_name.label }}
                    {{ form.first_name(placeholder="Syötä etunimesi") }}
                    {% if form.first_name.errors %}
                        <div class="error">
                            {% for error in form.first_name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
                <div class="input-box">
                    {{ form.last_name.label }}
                    {{ form.last_name(placeholder="Syötä sukunimesi") }}
                    {% if form.last_name.errors %}
                        <div class="error">
                            {% for error in form.last_name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
                <div class="input-box">
                    {{ form.house.label }}
                    {{ form.house(placeholder="Asuntosi numero") }}
                    {% if form.house.errors %}
                        <div class="error">
                            {% for error in form.house.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>

                <div class="input-box">
                    {{ form.email.label }}
                    {{ form.email(placeholder="Syötä sähköpostiosoitteesi") }}
                    {% if form.email.errors %}
                        <div class="error">
                            {% for error in form.email.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
</div>


{% endblock %}