{% extends "layout.html" %}

{% block content %}
<div class="flex-container flex-start">
    <div class="box">
        <h1 class="h1-content">
        Yhteystiedot
        </h1>
        <div class="post yhteystiedot">
            <h3>
                Hallitus
            </h3>
            <p>
                Taloyhtiön hallituksen tavoitat sähköpostilla osoitteesta <span id="email">hallitus.hakulinpuisto { at } gmail.com</span>.
            </p>
            <h3>
                Isännöinti
            </h3>
            <p>
                Isännöitsijänä toimii <a href="https://isannointilampinen.fi/">Isännöinti Lampinen</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}