{% extends "layout.html" %}

{% block content %}

<div class="flex-container">
    <div class="box">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>
                    Rekisteröidy käyttäjäksi
                </legend>
                <div class="input-box">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="input-box">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <div class="input-box">
                    {{ form.confirm_pw.label }}
                    {{ form.confirm_pw }}
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
        <div>
        </div>
    </div>
</div>
{% endblock %}