{% extends "layout.html" %}

{% block content %}
<div class="flex-container">
    <div class="box">
        <h1 class="h1-content">
        Yhteystiedot
        </h1>
        <div class="post">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Esse hic veritatis adipisci ad, repellat in dolores eos. 
                Nulla quae delectus aspernatur ipsa molestiae <a href="#"></a> veniam, at, 
                exercitationem iure, debitis iste repellat.
            </p>
        </div>
    </div>
</div>
{% endblock %}